<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="login_page"
        android:name="${applicationName}">

        <!-- MainActivity = engine only (NO launcher) -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Icon One = LAUNCHER -->
        <activity-alias
            android:name=".IconOne"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_icon_one"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- Icon Two = LAUNCHER -->

        <activity-alias
            android:name=".IconTwo"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_icon_two"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>


        <!-- Icon Three = LAUNCHER -->

        <activity-alias
            android:name=".IconThree"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_icon_three"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>


        <!-- Icon four = LAUNCHER -->

        <activity-alias
            android:name=".IconFour"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_icon_four"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>

</manifest>